<style>
  @import url('https://fonts.googleapis.com/css?family=Libre+Barcode+128+Text&display=swap');
  @import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');

  .projects-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-auto-rows: 300px;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }

  .project-card {
    max-width: 400px;
    background-color: grey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .project-card:hover {
    text-decoration: none;
    justify-content: space-between;
  }

  .minerva {
    font-family: 'Libre Barcode 128 Text', cursive;
    color: rgb(237, 253, 86) !important;
    background-color: rgb(59, 56, 56);
    font-size: 4rem;
  }

  .splitify {
    font-family: 'Oswald', sans-serif;
    background-color: #01233F;
    color: white !important;
    font-size: 2rem;
  }

  .alexandria {
    font-family: 'Josefin Sans', sans-serif;
    color: whitesmoke !important;
    background-color: rgb(94, 98, 128);
    font-size: 2rem;
  }

  .hover-text {
    font: 400 16px/1.5 -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: whitesmoke;
  }

  .hover-title {
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
  }

  .project-card .hover-text {
    display: none;
  }

  .project-card:hover .hover-text {
    display: block;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
  }

  .project-card:hover .hover-title {
    display: none;
  }

  .project-card:hover .project-blurb {
    height: 100%;
    display: inline-flex !important;
    align-items: center;
  }

  .hover-image {
    max-height: 100%;
  }

  @-webkit-keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
  }  
  @keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
  }
  @-webkit-keyframes fadeOut {
    from { opacity: 1; }
      to { opacity: 0; }
  }  
  @keyframes fadeOut {
    from { opacity: 1; }
      to { opacity: 0; }
  }

  @media screen and (max-width: 600px) {
    .projects-wrapper {
      grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    }
  }
</style>

<div class="projects-wrapper">
{% for project in site.projects %}
  <a class="project-card {{ project.lowcase }}" href="https://github.com/DidacBA/{{ project.name }}" target="_blank">
    <img class="hover-text hover-image" src="{{ site.baseurl }}/assets/img/{{ project.lowcase }}-screenshot.png">
    <span class="hover-title">{{ project.name }}</span>
    <span class="hover-text project-blurb">{{ project.content }}</span>
  </a>
{% endfor %}
</div>