<style>
  .projects-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-auto-rows: 300px;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }

  .project-card {
    max-width: 400px;
    background-color: grey;
  }
</style>

<div class="projects-wrapper">
  <div class="project-card">
    <a href="https://github.com/DidacBA/minerva">Minerva</a>
  </div>
  <div class="project-card">
    <a href="https://github.com/DidacBA/Splitify">Splitify</a>
  </div>
  <div class="project-card">
    <a href="https://github.com/DidacBA/Alexandria">Alexandria</a>
  </div>
</div>