<style>
  @import url('https://fonts.googleapis.com/css?family=Libre+Barcode+128+Text&display=swap');
  @import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');

  .projects-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-auto-rows: 300px;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }

  .project-card {
    max-width: 400px;
    background-color: grey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .project-card:hover {
    text-decoration: none;
  }

  .minerva {
    font-family: 'Libre Barcode 128 Text', cursive;
    color: rgb(237, 253, 86) !important;
    background-color: rgb(59, 56, 56);
    font-size: 4rem;
  }

  .splitify {
    font-family: 'Oswald', sans-serif;
    background-color: #01233F;
    color: white !important;
    font-size: 2rem;
  }

  .alexandria {
    font-family: 'Josefin Sans', sans-serif;
    color: whitesmoke !important;
    background-color: rgb(94, 98, 128);
    font-size: 2rem;
  }

  .hover-text {
    font: 400 16px/1.5 -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: whitesmoke;
  }

  .project-card .hover-text {
    display: none;
  }

  .project-card:hover .hover-text {
    display: block;
  }

  .project-card:hover .hover-title {
    display: none;
  }
</style>

<div class="projects-wrapper">
  <a class="project-card minerva" href="https://github.com/DidacBA/minerva" target="_blank">
    <span class="hover-title">Minerva</span>
    <span class="hover-text">Shooting video game built with the HTML canvas element and JavaScript</span>
  </a>
  <a class="project-card splitify" href="https://github.com/DidacBA/Splitify" target="_blank">
    <span class="hover-title">Splitify</span>
    <span class="hover-text">Shooting video game built with the HTML canvas element and JavaScript</span>
  </a>
  <a class="project-card alexandria" href="https://github.com/DidacBA/Alexandria" target="_blank">
    <span class="hover-title">Alexandria</span>
    <span class="hover-text">Shooting video game built with the HTML canvas element and JavaScript</span>
  </a>
</div>